<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout | Design Studio</title>
</head>
<body>
    <section class="top-header">
        <head>
            <div class="container">
                <div class="logo">
                    <h1>silika</h1>
                    <a href="#" class="red">We’re Hiring</a>
                </div>
                <!-- fim: logo -->
                 <nav>
                    <ul>
                        <li><a href="#">user cases</a></li>
                        <li><a href="#">resources</a></li>
                        <li><a href="#">weekly demos</a></li>
                        <li><a href="#">pricing</a></li>
                    </ul>
                 </nav>
                 <!-- fim: menu -->

                 <div class="login">
                    <a href="#">Login</a>
                    <a href="#" class="green">Get Started</a>
                 </div>

            </div>
        </head>
        <div class="cta">
            <di class="conteiner">
                <h2>Silika Helps<br> Marketing Agencies!</h2>
                <p>At nulla tristique facilisis augue. Lectus diam dignissim erat blandit pellentesque egestas nulla a. Nulla consectetur nunc egestas metus pellentesque.</p>

                <div class="bts-cta">
                    <a href="#" class="green">Get Started</a>
                    <a href="#" class="green">How It Works</a>
                </div>
            </di>
        </div>
    </section>
    <!-- section top-header -->

    <section class="brands">
        <div class="conteiner">
            <img src="images/adobe.png.png" alt="adobe">
            <img src="images/moscai.pg.png" alt="mosaic">
            <img src="images/colab.png.png" alt="colab">
            <img src="images/hotlmaz.pg.png" alt="holtzman">
        </div>
    </section>
    <!-- brands -->

    <section class="about-us">
        <h3>About Us</h3>
        <div class="conteiner">
              <div class="about-us-description">
                <h4>professional & team choose copy.ai</h4>
                <p>Odio dictum lacus augue nulla sit integer facilisis massa. Nec et tellus eu amet. Faucibus sit sit massa ullamcorper </p>

                <a href="#" class="green">Get Started</a>
              </div>
        </div>

        <div class="about-us-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fX5WCe3d8WU?si=cZ4yh1JUqhSaTuQc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </section>
    <!-- about us -->

    <section class="our-features">
        <h3>Our Features</h3>
        <di class="conteiner">
            <div class="card">
                <div class="icon-card">
                    <img src="images/icons/iconoir_add-folder (1).svg">
                </div>
                <div class="description-card">
                    
                    <h4>Blog Content</h4>
                    <p>Write optimized blog posts in
                        a fraction of the time</p>
                        <a href="#">Try Blog Content</a>
                </div>
            </div>
        </di>
    </section>
    
</body>
</html>